*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin-left: auto;
    margin-right: auto;
    /* height: 95vh; */
    width: 1440px;
    background-color: #010101;
}

.header{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    justify-items: center;
    padding: 40px;
    background-color: #f1f1f1;
}

.nav{
    display: flex;
    justify-content:end;
}

.nav a{
    padding-right: 20px;
    padding-top: 20px;
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: goldenrod;
    text-decoration: underline;
    text-decoration-color: #5E28D0;
    text-decoration-thickness: 3px;
}

.container_1{
    display: flex;
    flex-direction: column; 
    justify-content:space-between;
    align-items: center;
    color: aliceblue;
    background-image: url("../images/pexels-pixabay-2159\ 1.png");
    padding: 40px;
    height: 700px;
    margin: auto;
}

.container_1-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_1-botao{
    display: flex;
    justify-content: space-between;
    /* padding: 20px 40px 20px 40px; */
    background-color: #692DE9;
}

.container_1-botao a{
    display: flex;
    text-decoration: none;
    padding: 20px 40px 20px 40px;
    color: aliceblue;
}

.container_1-botao:hover{
    background-color: #420faffd;
    cursor: pointer;
}

.container_1-botao img{
    padding: 5px;
    background-color: #692DE9;
}

.container_1-caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #030303cc;
    padding: 40px;
    height: 184px;
    width: 360px;
}

.container_1-caixa-texto{
    font-weight: 600;
}

.container_1-caixa-numeros, .container_1-caixa-labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_1-caixa-numeros p{
    margin: 0 25px 0 20px;
    color: #692DE9;
}

.container_1-caixa-labels p{
    margin: 0 10px 0 15px;
}

.container_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #010101;
    padding: 40px;
    height: 700px;
    margin: auto;
}

.container_2-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.container_2-section-subsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 120px;
}

.container_2-section-img{
    width: 60px;
    margin: 20px;
}

.container_2-section-paragrafo{
    display: flex;
    justify-content: center;
    width: 200px;
    color: aliceblue;
    align-items: center;
}

.container_2-horario{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.container_3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 700px;
    margin: auto;
}

.container_3-1-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 666px;
    height: 700px;
}

.container_3-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 774px;
    height: 700px;
    background: linear-gradient(129.28deg, #692DE9 0%, rgba(105, 45, 233, 0.6) 0.01%, rgba(105, 45, 233, 0.5) 100%);
    color: aliceblue;
}

.container_3-2-titulo{
    margin-left: 80px;
    margin-bottom: 20px;
    width: 60%;
}

.container_3-2-lista li{
    list-style-position: inside;
    list-style-image: url("../images/ok.svg");
    padding: 10px;
    margin-left: 70px;
}

.container_4{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 700px;
    margin: auto;
}

.container_4-foguete{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: right;
    margin: 120px;
}

.container_4-paragrafo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: aliceblue;
}

.container_4-botao{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}


.container_4-botao a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    background-color: #692DE9;
    border-radius: 5px;
    padding: 20px 40px 20px 40px;
    width: 250px;
}

.container_4-botao a:hover{
    background-color: #420faffd;
    cursor: pointer;
}

.container_4-nave{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: right;
    margin: 120px;
}

.container_5{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 1480px;
    margin: auto;
    background: radial-gradient(50% 50% at 50% 50%, #5E28D0 0%, #5e28d000 100%);}

.container_5-titulo{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    color: aliceblue;
}

.container_5-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 70px;
}

.container_5-caixa{
    width: 590px;
    height: 320px;
    border: 1px #5E28D0 solid;
    border-radius: 5px;
    background-color: #010101;
    margin: 20px 0px 20px 40px;
}

.container_5-caixa-titulo{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    width: 100%;
    height: 50px;
    padding: 20px;
}

.container_5-caixa-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: aliceblue;
    width: 100%;
    padding: 10px;
}

.container_5-caixa-subcaixa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    color: aliceblue;
    font-size: 10px;
    width: 70px;
    height: 22px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #5E28D0;
}

.container_6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: aliceblue;
    height: 700px;
}

.container_6-2{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 20px;
}

.container_6-caixa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 590px;
    height: 214px;
    padding: 20px;
    margin: 10px;
    border: 1px #5E28D0 solid;
    border-radius: 10px;
}

.container_6-caixa-conteudo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 30px;
}

.container_6-caixa-conteudo ul{
    margin: 10px 0px 0px 15px;
}

.container_7{
    display: flex;
    justify-items: center;
    align-items: center;
    color: aliceblue;
    background-color: #692DE9;
    height: 700px;
}

.container_7-section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 50%;
}

.container_7-titulo{
    display: flex;
    flex-direction: row;
    margin: 0px auto 0px auto;
}

.container_7-formulario{
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px 160px;
}

.container_7-formulario-itens{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 10px 10px 0px;
}

.container_7-label{
    padding: 5px 0px 5px 0px;
}

.container_7-input{
    height: 35px;
    width: 355px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px 5px 0px;
}

.container_7-link{
    display: flex;
    justify-content: center;
    width: 360px;
    height: 50px;
    padding: 15px;
    margin-top: 25px;
    color: aliceblue;
    text-decoration: none;
    background-color: #371879;
}

.container_7-link:hover{
    background-color: #210c4e;
    cursor: pointer;
    color: goldenrod;
}

.container_7-section-2{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    justify-items:flex-start;
    flex-wrap: wrap;
    width: 50%;
    height: 380px;    
}

.container_7-list li{
    text-align: justify;
    list-style-type: decimal;
    list-style-position: inside;
    margin: 0 160px 60px 0px;
}

.container_8{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1100px;
    color: aliceblue;
    background-color: #010101;
}

.container_8-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px;
}

.container_8-blocos{
    display: flex;
    justify-content:space-between;
    background-color: #262525;
    height: 110px;
    width: 1200px;
    margin: 10px auto 10px auto;

}

.container_8-blocos-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 40px;
}

.container_8-blocos-symbol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding-right: 40px;
}

.container_8-imagem {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0px 50px 50px 0px;
}

.container_8-imagem img{
    padding: 5px;
    background-color: #692DE9;
}

.container_9{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 194px;
    background-color:#D9D9D9;
}

.container_9-fslab{
    margin: 50px 0px 0px 120px;
}

.container_9-contato{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin: 50px 0px 0px 420px;
}

.container_9-contato p{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: right;
}

.container_9-ifro{
    margin: 50px 120px 0px 0px;
}