*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin-left: auto;
    margin-right: auto;
    /* height: 95vh; */
    width: 1440px;
}

.header{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    justify-items: center;
    padding: 40px;
    background-color: aliceblue;
}

.nav{
    display: flex;
    justify-content:end;
}

.nav p{
    padding-right: 20px;
    padding-top: 20px;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: goldenrod;
}

.container_1{
    display: flex;
    flex-direction: column; 
    justify-content:space-between;
    align-items: center;
    /* background-color: violet; */
    color: #F1F1F1;
    background-image: url("../images/pexels-pixabay-2159\ 1.png");
    padding: 40px;
    height: 700px;
    width: 1440px;
    margin: auto;
}

.container_1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_1-2{
    display: flex;
    padding: 20px 40px 20px 40px;
    background-color: #692DE9;
}

.container_1-2 a{
    text-decoration: none;
    color: aliceblue;
}

.container_1-2:hover{
    background-color: #420faffd;
    cursor: pointer;
}

.container_1-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #03030380;
    padding: 40px;
    height: 184px;
    width: 360px;
}

.container_1-3-1{
    font-weight: 600;
}

.container_1-3-2, .container_1-3-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_1-3-2 p{
    margin: 0 25px 0 20px;
    color: #692DE9;
}

.container_1-3-3 p{
    margin: 0 10px 0 15px;
}

